{% extends "admin/sb_admin_layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Nome da Categoria</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ tag.name if tag else '' }}" required>
            </div>
            
            <div class="mb-3">
                <label for="icon" class="form-label">Ícone</label>
                {% if tag and tag.icon_filename %}
                    <br>
                    <img src="{{ url_for('static', filename='uploads/' ~ tag.icon_filename) }}" width="50" class="img-thumbnail mb-2">
                    <br>
                    <small>Para trocar, envie um novo arquivo abaixo.</small>
                {% endif %}
                <input class="form-control" type="file" id="icon" name="icon">
            </div>

            <a href="{{ url_for('admin_tag_list') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

{% endblock %}